<br/>
<br/>
<br/>
<ul class = "nav nav-tabs nav-stacked affix" id = "myNav">
  <li><img src = "http://www.anchanto.com/wp-content/uploads/2014/12/Anchanto_Logo__2001.png" />
  </li>
</ul>

<div class="row">
 <div class="col-md-12">
   <%= render 'layouts/carousel' %>
 </div>
</div>
