
<div class="row">
  <br/><br/>
  <br/>
</div>
<div class = "form_content">
 <h1 style="color:white;">New order</h1>
<%= link_to  orders_path , class: "btn btn-default", :title => 'Back', :rel => 'tooltip' do %>
<span class="glyphicon glyphicon-step-backward"></span> Back
<% end %>
<%= render 'form' %>

</div>