<div class="row">
  <br/><br/>
  <br/>
</div>
<div class = "form_content">
 <h1 style="color:white;">Editing address</h1>
 <br/>

<%= link_to @address, :class => 'btn btn-warning',:title => 'Show', :rel => 'tooltip' do%>
              <span class="glyphicon glyphicon-eye-open"></span> Show
              <%end%>
<%= link_to  addresses_path , class: "btn btn-default", :title => 'Back', :rel => 'tooltip' do %>
<span class="glyphicon glyphicon-step-backward"></span> Back
<% end %>
<br/>
<br/>

<%= render 'form' %>

</div>
