<div class="row">
  <br/><br/>
  <br/>
</div>
<div class = "form_content">
 <h1 style="color:white;">New address</h1>

<%= render 'form' %>

<%= link_to  addresses_path , class: "btn btn-default", :title => 'Back', :rel => 'tooltip' do %>
<span class="glyphicon glyphicon-step-backward"></span> Back
<% end %>
</div>
