/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
.container-fluid{
  
  background: url("http://il7.picdn.net/shutterstock/videos/3011377/thumb/10.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.form_content{
  width: 700px;
  height: auto;
  padding: 50px;
  
  box-shadow: 10px 10px 10px  10px grey;
}

#nav {
  line-height:30px;
  
  height:300px;
  width:100px;
  float:left;
  padding:5px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
 margin-top: 100%;
  padding-top: 5px;
  border-top: 1px solid #A3A3A3;
  color: #fff ;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: center;
  margin-left: 15px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}


table#t01{ 
  width: 100%;  
}
table#t01 tr:nth-child(even) {
  padding: 15px;
  background-color: #DBEEEF;
}
table#t01 tr:nth-child(odd) {
  padding: 15px;
  background-color: #fff;
}
table#t01 th { 
  border-collapse: collapse;
  
} 
h1{
  color: white;
}