<br/><br/><br/><br/>



<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item  active">
      <img src="http://www.therma-store.com/images/banner-shop4.jpg" alt="Flower" width="460" height="200">
      <div class="carousel-caption">
        <!-- <font color="black"><h3>KNOWLEDGE</h3></font> -->
      </div>
    </div>


    <div class="item">
      <img src="http://3.bp.blogspot.com/-rjluK0oy8Do/VRJBJoC8pNI/AAAAAAAAAEk/taC_y6VXldE/s1600/1422960774614.png" alt="Flower" width="460" height="200">
      <div class="carousel-caption">
        <!-- <font color="black"><h3>KNOWLEDGE</h3></font> -->
      </div>
    </div>

    <div class="item">
      <img src="http://www.inizinfotech.com/wp-content/uploads/2014/07/e-commerce-banner.jpg" alt="Chania" width="460" height="200">
      <div class="carousel-caption">
        <!-- <font color="black"><h3>KNOWLEDGE</h3></font> -->
        </div>
    </div>
     <div class="item">
      <img src="http://www.nigerdeltawealthcreation.org/wp-content/uploads/2016/01/shop.png" alt="Chania" width="460" height="200">
      <div class="carousel-caption">
        <!-- <font color="black"><h3>KNOWLEDGE</h3></font> -->
      </div>
    </div>


  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
