
<footer class="footer">
<div class="row">
  <div class="col-md-3">
    <font color= "black">Developed By : Dhanashri Joshi</font>
  </div>
  <div class="col-md-3 col-md-push-6">
   <ul class="nav navbar-nav navbar-right">
      <li></li>
      <li></li>
      <li><a href="http://www.anchanto.com/">Anchanto</a></li>
    </ul>
  
  </div>
</div>
</footer>
